@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>
<head>

    <title>OSHAWA Public Library</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>
<body>
   
    <div class="text-center">
        <img src="./images/logo.png" />
        <p>Option 1: <a href="./books/">View/Create/Edit books in library</a>.</p>
        <p>Option 2: <a href="./authors/">View/Create/Edit authors in library</a>.</p>
        <p>Option 3: <a href="./dvds/">View/Create/Edit dvds in library</a>.</p>
        <p>Option 4: <a href="./bookauthors/">View/Create/Edit booksauthors in library</a>.</p>
    </div>

</body>


</html>